*{
padding: 0;
margin: 0;
}

.web {
    position: relative;
    bottom: 12px;
    left: 16px;
}

.one{
    height: 250px;
    width: 1350px;
    background-color: #00a884;
    position: relative;
}

.two{
    height: 1050px;
    width: 900px;
    background-color:whitesmoke;
    position: absolute;
    top: 100px;
    margin-left: 250px;
    margin-right: 270px;
    
    
}
.three{
    color: white;
    padding: 250px;
    margin-top: 50px;
}
.five{
    border: 0.2px solid rgb(156, 155, 155) ;
    height: 39px;
    width: 700px;
    position: relative;
    top: 50px;
    margin: 30px;
    padding: 30px;
    border-radius: 7px;
}
body{
    background-color: rgb(248, 241, 227);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    position: relative;
}

.daw{
    position: relative;
    bottom: 60px;
    left: 100px;
    color: rgb(51, 51, 51);
}
.dow{
    position: relative;
    bottom: 60px;
    left: 100px;
    color:rgb(139, 155, 155) ;
}
.but{
        position: relative;
        bottom: 90px;
        left: 600px;
        background-color:#017561;
        color: white;
        border-radius: 20px;
        width: 96px;
        height: 35px;
    }
    .what{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .img3{
        position: relative;
        bottom: 25px;
        left: 550px;
    }
    .list1{
        position: absolute;
        top: 300px; 
        left:55px;
        line-height: 1.1cm;
    }
    .under{
        color: #8a8888;
        margin-top: 60px;
        width: 750px;
    }
    .link{
        color: #00a884;
        position: relative;
        top: 100px;
        font-size: large;

    }
.vid{
   position: relative;
   top: 150px;
   left: 50px;
}